{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#this is index#}
{#</body>#}
{#</html>#}
{#<h1>{{ man_list_001}}</h1>#}
{#<ul>#}
{#{% for man in man_list %}#}
{#    {% for plant in man.plant_model_set.all %}#}
{#    <li>{{ plant.name }}</li>#}
{#    {% endfor %}#}
{#{% endfor %}#}
{#</ul>#}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}